@{
    @model List<ASPLibrary.Models.Book>
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <aside class="ContentAside">
        <div>
            <p>Категории</p>
            <ul>

            </ul>
        </div>
    </aside>
    <section>
        @foreach(var book in Model)
        {
            <div>
                <h2>@book.Title</h2>
                <img src="/images/books/@book.Image">
            </div>
        }
    </section>
</div>
