@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <aside class="ContentAside">
        <div>
            <p>Категории</p>
            <ul>
                <li>
                    <p>
                        кат.
                    </p>
                    <p> </p>
                    <p>
                        10шт.
                    </p>
                </li>
                <li>
                    <p>
                        кат.
                    </p>
                    <p> </p>
                    <p>
                        5шт.
                    </p>
                </li>
            </ul>
        </div>
    </aside>
    <section>

    </section>
</div>
