@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="Privacy"> 
    <h1>"Library named after Vladimir Ilich Lenin"</h1>

    <p>Website "Library named after Lenin", made in the Soviet Republic of Czechoslovakia.<br/>1978 yar.</p>
</div>
